BACKEND_HOST=localhost
BACKEND_PORT=3000
# Note that this timeout should be always greater than the AI_MODEL_TIMEOUT
BACKEND_TIMEOUT=35000

FRONTEND_HOST=localhost
FRONTEND_PORT=5173

AI_MODEL_TIMEOUT=30000
AI_MAX_RETRIES=2

# Use the constant "MOCK" on AI_MODEL_PROVIDER to mock the AI model provider for testing purposes
# To use multiple providers as fallback, separate them with a comma, it will use the first one that is available
AI_MODEL_PROVIDER=MOCK

# Paste the API key from OpenRouter, in case of using the MOCK provider, this value will be ignored, but it is still required to be set even to a dummy value
AI_MODEL_PROVIDER_API_KEY=MOCK
